<h1 id="signuppagetitle">Edit User</h1>

<%= form_for(@user)  do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
	<%= render 'fields', :f => f %>  
	<div class="actions">
	  	<%= f.submit "Update" %> 
    </div>
<% end %>

<div id="gravataricon">
	<%= gravatar_for @user %>
	<a href="http://gravatar.com/emails" target=_blank>Change</a>
</div>

<h1 id="signuptitle">Sign up</h1>

