<table class="profile" summary= "Profile information">
	<tr>
		<td class="main">
			<h1 id="gravataricon">
				<%= gravatar_for @user %>
			</h1>
			<h1 id="username">
				<%= @user.name %>
			</h1>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong>  <%= link_to user_path(@user), @user %>
			<!-- <% if signed_in? %>
						<% if current_user == @user  %>
						<li><%= link_to "Settings", edit_user_path(current_user) %></li>
						<% end %>
						<% end %> -->
		</td>
	</tr>
	
	
</table>

