<div class="field" id="namefield">
	<%= f.label :address, "Your Bike's Address" %> <br />
	<%= f.text_field :address %>
</div>
<div class="field">
	<%= f.label :city, "City" %> <br />
	<%= f.text_field :city %>
</div>
<div class="field">
	<%= f.label :state, "State" %> <br />
	<%= f.text_field :size %>
</div>
<div class="field">
	<%= f.label :zip, "Zip" %> <br />
	<%= f.text_field :zip %>
</div>
<div class="field" id="namefield">
	<%= f.label :name, "Title" %> <br />
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :description, "A little about your bike" %> <br />
	<%= f.text_area :description, :rows => 5 %>
</div>
<div class="field">
	<%= f.label :size, "Your Height" %> <br />
	<%= f.text_field :size %>
</div>
<div class="field">
	<%= f.label :biketype, "Bike Type (ex Road, Mountain, Pro)" %> <br />
	<%= f.text_field :biketype %>
</div>
<div class="field"> 
	<%= f.label :price, "Daily Rental Price" %> <br />
	<%= f.text_field :price %>
</div>
<div id="filefield">
	<%= f.label :photo, "Upload a Picture of Your Bike" %> <br />
	<%= f.file_field :photo %>
</div> <br />
