<tr>
	<td class="gravatar">
		<%= link_to gravatar_for(feed_item.user), feed_item.user %>
	</td>
	<td id="bikefeatures">
		<span class="user">
			<%= link_to feed_item.user.name, feed_item.user %>
		</span>
		<span class"name"><%= feed_item.name %></span>
		<span class"biketype"><%= feed_item.biketype %></span>
	</td>
	<td>
		<%= link_to "delete", feed_item, :method => :delete, :confirm => "You sure?",
		 							     :title => feed_item.name %>
	</td>
	<td>
		<%= link_to "Edit", edit_bike_path(current_user) %> 
	</td>

</tr>