<tr>
	<td class="bikeimage">
		<%= image_tag feed_item.photo.url(:medium) %>

	</td>
	<td id="bikefeatures">
		<span class="user">
			<%= link_to feed_item.user.name, feed_item.user %>
		</span>
		<span class"name"><%= feed_item.name %></span>
		<span class"biketype"><%= feed_item.biketype %></span>
	</td>
	<td>
		<%= link_to "delete", feed_item, :method => :delete, :confirm => "You sure?",
		 							     :title => feed_item.name %>
	</td>
	<td>
		<%= link_to "edit", edit_bike_path(feed_item.id) %> 
	</td>

</tr>