<div id="uklinks"><%= link_to "Water", kuwater_path %> </div>
<div id="uklinks"><%= link_to "Coffee", kucoffee_path %> </div>
<div id="uklinks"><%= link_to "Soda", kusoda_path %> </div>
<div id="uklinks"><%= link_to "Energy", kuenergy_path %> </div>
<div id="uklinks"><%= link_to "Juice", kujuice_path %> </div>
<div id="uklinks"><%= link_to "Sports", kusports_path %> </div>