<div id="uklinks"><%= link_to "Water", uscwater_path %> </div>
<div id="uklinks"><%= link_to "Coffee", usccoffee_path %> </div>
<div id="uklinks"><%= link_to "Soda", uscsoda_path %> </div>
<div id="uklinks"><%= link_to "Energy", uscenergy_path %> </div>
<div id="uklinks"><%= link_to "Juice", uscjuice_path %> </div>
<div id="uklinks"><%= link_to "Sports", uscsports_path %> </div>