<div id="listyourbike"><%= link_to "How It Works", howitworks_path %></div>

<div id="toppic"><%= image_tag 'cdheader.jpg' %></div>

<div class="schoollogo">
	
<%= render 'shared/homelogos' %>
	

</div>

<!-- <div id="paper"><%= image_tag 'cdpaper.jpg' %></div> -->
<div id="school">choose your school</div>

<div id="drinksrow"><%= image_tag("drinksrow.jpg") %></div>

<h1 id="ordering">Ordering drinks is as easy as 1, 2, Free</h1>

<div id="hiwpic"><%= image_tag 'cdhowitworks.jpg' %></div>


<div class="schoollogo">
	
<%= render 'shared/homelogos' %>
	
</div>



<div id="school">go to your school!</div>

