<div id="listyourbike"><%= link_to "How It Works", howitworks_path %></div>

<div id="toppic"><%= image_tag 'cdheader.jpg' %></div>

<div class="schoollogo">
	
<%= render 'shared/homelogos' %>
	

</div>

<!-- <div id="paper"><%= image_tag 'cdpaper.jpg' %></div> -->
<div id="school">choose your school</div>

<div id="drinksrow"><%= image_tag("drinksrow.jpg") %></div>

<h1 id="ordering">Ordering drinks is as easy as 1, 2, Free</h1>

<div id="hiwpic"><%= image_tag 'cdhowitworks.jpg' %></div>


<div class="schoollogo">
	
<%= render 'shared/homelogos' %>
	
</div>



<div id="school">go to your school!</div>

	<!-- <h1 id="hometitle">Please Select Your Campus</h1>  -->



<!-- <h1 id="wedeliver">We deliver drinks and flowers right to your door. Free.</h1> -->




<!-- <h1>What Customers are Saying</h1>
<div id="customerquotes" class="round">
<p>
"Really easy to use. Just order and they bring it right to your door once a week."
- Nicolai S. </br>
</br>

"Campus Deliveries got me the best fresh flowers for my invite date and they saved me the hassle of searching for a flower store by delivering it to my fraternity house! YAY!" - Bryan H. </br>
</br>

"Campus Deliveries is awesome! Not only do they get your order to you on time, but they carry it up all the stairs for you and bring it right to your door! At Campus Deliveries they know how to make customers feel special!" 
- Hayden F. </br>
</br>
"Two days ago, I thought I died and went to heaven. I soon realized that I actually just blacked out and woke up to a case of fresh water from CampusDeliveries." - TJ H.  </br>
</br>
"The campus places are over priced, Campus Deliveries is a good deal and delivers." -Tommy M. </br>
</br>
</p>

</div> -->