<div class="bigtype">Coffee</div>

<div id="uklinks"><%= link_to "Water", uawater_path %> </div>
<div id="uklinks"><%= link_to "Coffee", uacoffee_path %> </div>
<div id="uklinks"><%= link_to "Soda", uasoda_path %> </div>
<div id="uklinks"><%= link_to "Energy", uaenergy_path %> </div>
<div id="uklinks"><%= link_to "Juice", uajuice_path %> </div>
<div id="uklinks"><%= link_to "Sports", uasports_path %> </div>
