	<%= link_to image_tag("uofalogo.svg", :alt => "Great looking bike", :class => "round", :height => 400), uahome_path %>
	
	<div id="uklinks">
	<%= link_to "Water", uawater_path %>
	<%= link_to "Coffee", uacoffee_path %>
	<%= link_to "Soda", uasoda_path %>
	<%= link_to "Energy", uaenergy_path %>
	<%= link_to "Juice", uajuice_path %>
	<%= link_to "Sports", uasports_path %>
	</div>