<div class="bigtype">Juice</div>
<div id="uklinks">
<%= link_to "Water", uawater_path %> </br>
<%= link_to "Coffee", uacoffee_path %> </br>
<%= link_to "Soda", uasoda_path %> </br>
<%= link_to "Energy", uaenergy_path %> </br>
<%= link_to "Juice", uajuice_path %> </br>
<%= link_to "Sports", uasports_path %> </br>
</div>

