<div class="bigtype">Energy</div>
<div id="uklinks">
<%= link_to "Water", ukwater_path %> </br>
<%= link_to "Coffee", ukcoffee_path %> </br>
<%= link_to "Soda", uksoda_path %> </br>
<%= link_to "Energy", ukenergy_path %> </br>
<%= link_to "Juice", ukjuice_path %> </br>
<%= link_to "Sports", uksports_path %> </br>
</div>

