<div id="uklinks">
<%= link_to "Water", ukwater_path %>
<%= link_to "Coffee", ukcoffee_path %>
<%= link_to "Soda", uksoda_path %>
<%= link_to "Energy", ukenergy_path %>
<%= link_to "Juice", ukjuice_path %>
<%= link_to "Sports", uksports_path %>
</div>

	<%= link_to image_tag("kulogo.svg", :alt => "Great looking bike", :class => "round", :height => 400), ukhome_path %>