<div class="bigtype">Soda</div>
<%= render 'shared/kulinks' %>


<div class="drinkpics">
	
	<table class="drinktable" summary= "drinksdrinks">
		<tr id="row1">
			<td id="leftcolumn"> 
				<div id="drink1">
						<div class="itemtext"><%= image_tag("coke.jpg", :height => 200) %> </div>
					<div class="itemtext">	Coca Cola 32 Pack</div>
						<div class="itemtext">12oz cans</div>
						<div class="itemtext">$15.99</div>

					<div class="product"><input type="hidden" class="product-title" value="Coca Cola 32 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="15.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

	
				</div>
			</td>
			<td id="centercolumn">
				<div id="drink2">


					<div class="itemtext"><%= image_tag("sprite.jpg", :height => 200) %> </div>
					<div class="itemtext">Sprite 32 Pack</div>
					<div class="itemtext">12oz cans</div>
					<div class="itemtext">$15.99</div>
					<div class="product"><input type="hidden" class="product-title" value="Sprite 32 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="15.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

				</div>
			</td>
			<td id="rightcolumn">
				<div id="drink3">
	
					<div class="itemtext"><%= image_tag("dietcoke.jpg", :height => 200) %> </div>
					<div class="itemtext">Diet Coke 32 Pack</div>
					<div class="itemtext">12oz cans</div>
					<div class="itemtext">$15.99</div>

					<div class="product"><input type="hidden" class="product-title" value="Diet Coke 32 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="15.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>
	
				</div>
			</td>
		</tr> 
	</table>
	<table class="drinktable" summary= "drinksdrinks">
		
		
		<tr id="row2">
			<td id="leftcolumn"> 
<div id="drink1">
	<div class="itemtext"><%= image_tag("cokezero.jpg", :height => 200) %> </div>
	<div class="itemtext">Coke Zero 32 Pack</div>
	<div class="itemtext">12oz cans</div>
	<div class="itemtext">$15.99</div>

	<div class="product"><input type="hidden" class="product-title" value="Coke Zero 32 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="15.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

	
</div>

</td>
<td id="centercolumn">
<div id="drink2">


	<div class="itemtext"><%= image_tag("drpepper.jpg", :height => 200) %> </div>
	<div class="itemtext">Dr Pepper 36 Pack</div>
	<div class="itemtext">12oz cans</div>
	<div class="itemtext">$16.99</div>
	
	<div class="product"><input type="hidden" class="product-title" value="Dr Pepper 32 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="16.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

</div>
</td>
<td id="rightcolumn">


<div id="drink3">
	
	<div class="itemtext"><%= image_tag("dietdrpepper.jpg", :height => 200) %> </div>
	<div class="itemtext">Diet Dr Pepper 36 Pack</div>
	<div class="itemtext">12oz cans</div>
	<div class="itemtext">$16.99</div>
	<div class="product"><input type="hidden" class="product-title" value="Diet Dr Pepper 32 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="16.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>
	
</div>
</td>
</tr>
</table>
<table class="drinktable" summary= "drinksdrinks">
<tr>
	<td id="leftcolumn"> 
<div id="drink1">
	<div class="itemtext"><%= image_tag("Mountaindew.jpg", :height => 200) %> </div>
	<div class="itemtext">Mountain Dew 36 Pack</div>
	<div class="itemtext">12oz cans</div>
	<div class="itemtext">$16.99</div>

	<div class="product"><input type="hidden" class="product-title" value="Squirt 32 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="16.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>


</div>

</td>
<td id="centercolumn">
<!-- <div id="drink2">


	<div class="itemtext"><%= image_tag("pepsi.jpeg", :height => 200) %> </div>
	<div class="itemtext">Pepsi 32 Pack</div>
	<div class="itemtext">12oz cans</div>
	<div class="itemtext">$15.99</div>

	<div class="product"><input type="hidden" class="product-title" value="Pepsi 32 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="15.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

</div> -->
</td>
<td id="rightcolumn">


<div id="drink3">

	<div class="itemtext"><%= image_tag("dietpepsi.gif", :height => 200) %> </div>
	<div class="itemtext">Diet Pepsi 36 Pack</div>
	<div class="itemtext">12oz cans</div>
	<div class="itemtext">$16.99</div>

	<div class="product"><input type="hidden" class="product-title" value="Diet Pepsi 32 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="16.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

</div>
</td>
</tr>
</table>


</div>