<div class="bigtype">Sports</div>
<%= render 'shared/kulinks' %>


<div class="drinkpics">
	
	<table class="drinktable" summary= "drinksdrinks">
		<tr id="row1">
			<td id="leftcolumn"> 
				<div id="drink1">
						<div class="itemtext"><%= image_tag("sobe.jpg", :height => 250) %> </div>
						<div class="itemtext">Sobe Life Water 12 Pack</div>
						<div class="itemtext">24oz bottles</div>
						<div class="itemtext">$16.99</div>

					<div class="product"><input type="hidden" class="product-title" value="Sobe Life Water 12 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="16.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

	
				</div>
			</td>
			<td id="centercolumn">
				<div id="drink2">


					<div class="itemtext"><%= image_tag("gatoradevarietyku.jpg", :height => 250) %> </div>
					<div class="itemtext">Gatorade Variety 30 Pack</div>
					<div class="itemtext">20oz bottles</div>
					<div class="itemtext">$20.99</div>
					<div class="product"><input type="hidden" class="product-title" value="Gatorade Variety 12 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="18.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

				</div>
			</td>
		
			<td id="rightcolumn">
				<div id="drink3">
	
					<div class="itemtext"><%= image_tag("G2.jpg", :height => 250) %> </div>
					<div class="itemtext">G2 Variety 20 Pack</div>
					<div class="itemtext">24oz bottles</div>
					<div class="itemtext">$21.99</div>

					<div class="product"><input type="hidden" class="product-title" value="G2 Variety 20 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="21.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>
	
				</div>
			</td>
				</tr>
				</table>
				<table class="drinktable" summary= "drinksdrinks">
				<tr>
			<td>
				<div id="drink4">
	
					<div class="itemtext"><%= image_tag("vitamin.jpeg", :height => 250) %> </div>
					<div class="itemtext">Vitamin Water Variety 20 Pack</div>
					<div class="itemtext">24oz bottles</div>
					<div class="itemtext">$25.99</div>

					<div class="product"><input type="hidden" class="product-title" value="Vitamin Variety 20 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="15.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>
	
				</div>
			</td>
		</tr> 
	</table>

