<div class="bigtype">Water</div>
<div id="uklinks"><%= link_to "Water", ukwater_path %> </div>
<div id="uklinks"><%= link_to "Coffee", ukcoffee_path %> </div>
<div id="uklinks"><%= link_to "Soda", uksoda_path %> </div>
<div id="uklinks"><%= link_to "Energy", ukenergy_path %> </div>
<div id="uklinks"><%= link_to "Juice", ukjuice_path %> </div>
<div id="uklinks"><%= link_to "Sports", uksports_path %> </div>


