<div class="bigtype">Coffee</div>
<div id="uklinks">
<%= link_to "Water", uscwater_path %> </br>
<%= link_to "Coffee", usccoffee_path %> </br>
<%= link_to "Soda", uscsoda_path %> </br>
<%= link_to "Energy", uscenergy_path %> </br>
<%= link_to "Juice", uscjuice_path %> </br>
<%= link_to "Sports", uscsports_path %> </br>
</div>