
	

	
	<div class="drinksbig"><%= link_to "Shop Drinks", uscwater_path %></div>
	
	<div id="drinkgroup">
		<table class="uschomedrinks" summary="drinksuschome">
			<tr>
	<td><%= link_to image_tag("smartwater.jpg", :height => 180, :id => "water"), uscwater_path %> </td>
	<td><%= link_to image_tag("coffee.jpg", :height => 180), usccoffee_path %> </td>
	<td><%= link_to image_tag("coke.jpeg", :height => 180), uscsoda_path %> </td>
	<td><%= link_to image_tag("redbull.jpg", :height => 180), uscenergy_path %> </td>
	<td><%= link_to image_tag("martinellis.jpg", :height => 180, :id => "juice"), uscjuice_path %></td>
	<td><%= link_to image_tag("gatorade.jpg", :height => 180), uscsports_path %> </td>
	</tr>
	</table>
	</div>
	
	<div class="flowersbig"><%= link_to "Shop Flowers", uscflowers_path %></div>
	
	<div id="flowers">
	<%= link_to image_tag("flowers.jpg", :height => 330), uscflowers_path %>
	<%= link_to image_tag("pinkroses.png", :height => 330), uscroses_path %>
	<%= link_to image_tag("sunflowers.png", :height => 330), uscsunflowers_path %>
	</div>
