<div class="bigtype">Juice</div>
<div id="uklinks"><%= link_to "Water", uscwater_path %> </div>
<div id="uklinks"><%= link_to "Coffee", usccoffee_path %> </div>
<div id="uklinks"><%= link_to "Soda", uscsoda_path %> </div>
<div id="uklinks"><%= link_to "Energy", uscenergy_path %> </div>
<div id="uklinks"><%= link_to "Juice", uscjuice_path %> </div>
<div id="uklinks"><%= link_to "Sports", uscsports_path %> </div>

<div class="drinkpics">
	
	<table class="drinktable" summary= "drinksdrinks">
		<tr id="row1">
			<td id="leftcolumn"> 
				<div id="drink1">
						<div class="itemtext"><%= image_tag("greentea.jpg", :height => 250) %> </div>
						<div class="itemtext">Arizona Green Tea 24 Pack</div>
						<div class="itemtext">26oz bottles</div>
						<div class="itemtext">$19.99</div>

					<div class="product"><input type="hidden" class="product-title" value="Arizona Green Tea 24 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="19.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

	
				</div>
			</td>
			<td id="centercolumn">
				<div id="drink2">


					<div class="itemtext"><%= image_tag("v8.jpg", :height => 250) %> </div>
					<div class="itemtext">V8 Juice 28 Pack</div>
					<div class="itemtext">12oz cans</div>
					<div class="itemtext">$22.99</div>
					<div class="product"><input type="hidden" class="product-title" value="V8 28 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="22.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

				</div>
			</td>
		
			<td id="rightcolumn">
				<div id="drink3">
	
					<div class="itemtext"><%= image_tag("snapple.jpg", :height => 250) %> </div>
					<div class="itemtext">Snapple Variety 24 Pack</div>
					<div class="itemtext">24oz bottles</div>
					<div class="itemtext">$25.99</div>

					<div class="product"><input type="hidden" class="product-title" value="Snapple Variety 24 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="25.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>
	
				</div>
			</td>
				</tr>
				</table>
				<table class="drinktable" summary= "drinksdrinks">
				<tr>
			<td>
				<div id="drink4">
	
					<div class="itemtext"><%= image_tag("martinellis.jpg", :height => 250) %> </div>
					<div class="itemtext">Martinelli's Apple Juice 24 Pack</div>
					<div class="itemtext">10oz bottles</div>
					<div class="itemtext">$24.99</div>

					<div class="product"><input type="hidden" class="product-title" value="Vitamin Variety 20 Pack"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="15.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>
	
				</div>
			</td>
		</tr> 
	</table>