<div id="uklinks">
<%= link_to "Water", uscwater_path %>
<%= link_to "Coffee", usccoffee_path %>
<%= link_to "Soda", uscsoda_path %>
<%= link_to "Energy", uscenergy_path %>
<%= link_to "Juice", uscjuice_path %>
<%= link_to "Sports", uscsports_path %>
</div>