<div class="bigtypeflowers">Sunflowers</div>
<div id="uklinks"><%= link_to "Mixed Bouquets", uscflowers_path  %> </div>
<div id="uklinks"><%= link_to "Roses", uscroses_path %> </div>
<div id="uklinks"><%= link_to "Sunflowers", uscsunflowers_path  %> </div>
<div id="uklinks"><%= link_to "Custom Orders", usccustom_path %> </div>

<div class="drinkpics">
	
	<table class="drinktable" summary= "drinksdrinks">
		<tr id="row1">
			<td id="leftcolumn"> 
				<div id="drink1">
						<div class="itemtext"><%= image_tag("sunflowers.png", :height => 250) %></div>
						<div class="itemtext">Sunflower Bouquet</div>
						<div class="itemtext">$24.99</div>

					<div class="product"><input type="hidden" class="product-title" value="Sunflower Bouquet"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="24.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

	
				</div>
			</td>
			<td id="centercolumn">
				<div id="drink2">


					<div class="itemtext"><%= image_tag("glassvase.jpg", :height => 250) %></div>
				    <div class="itemtext">	Glass Vase</div>
					<div class="itemtext">$3.99</div>

					<div class="product"><input type="hidden" class="product-title" value="Glass Vase"><input type="hidden" class="product-image" value=><input type="hidden" class="product-price" value="3.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>


				</div>
			</td>
		
		
				</tr>
				</table>