<div class="bigtype">Water</div>
<div id="uklinks"><%= link_to "Water", uscwater_path %> </div>
<div id="uklinks"><%= link_to "Coffee", usccoffee_path %> </div>
<div id="uklinks"><%= link_to "Soda", uscsoda_path %> </div>
<div id="uklinks"><%= link_to "Energy", uscenergy_path %> </div>
<div id="uklinks"><%= link_to "Juice", uscjuice_path %> </div>
<div id="uklinks"><%= link_to "Sports", uscsports_path %> </div>


<div class="drinkpics">
	
	<table class="drinktable" summary= "drinksdrinks">
		<tr>
			<td id="leftcolumn"> 
<div id="drink1">
	<div class="itemtext"><%= image_tag("kirkland.jpeg", :height => 300) %> </div>
	<div class="itemtext">Kirkland 35 Pack</div>
	<div class="itemtext">16.9oz bottles </div>
	<div class="itemtext">$9.99</div>
	
	<div class="product"><input type="hidden" class="product-title" value="Kirkland 35 Pack">
		
		<input type="hidden" class="product-image" value="http://t0.gstatic.com/images?q=tbn:QonEXSRxT-rsTM:http://blogs.ksbe.edu/linakamu/files/2010/08/water.jpg&amp;t=1"><select class="product-attr-custom"><option value="1 Case" googlecart-set-product-price="9.99" selected="selected">1 Case - USD9.99</option><option value="1 Case a Week (x4)" googlecart-set-product-price="39.96">1 Case a Week (x4) - USD39.96</option><option value="1 Case every 2 Weeks (x4)" googlecart-set-product-price="39.96">1 Case every 2 Weeks (x4) - USD39.96</option><option value="1 Case a Week (x8)" googlecart-set-product-price="79.92">1 Case a Week (x8) - USD79.92</option><option value="1 Case every 2 Weeks (x8)" googlecart-set-product-price="79.92">1 Case every 2 Weeks (x8) - USD79.92</option></select><input type="hidden" class="product-price" value="9.99">
		
<div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div>

</div>

	
</div>

</td>
<td id="centercolumn">
<div id="drink2">


	<div class="itemtext"><%= image_tag("arrowhead.jpg", :height => 300) %> </div>
	<div class="itemtext">Arrowhead 35 Pack</div>
	<div class="itemtext">16.9oz bottles</div>
	<div class="itemtext">$10.99</div>
	
<div class="product"><input type="hidden" class="product-title" value="Arrowhead 35 Pack"><select class="product-attr-custom"><option value="1 Case" googlecart-set-product-price="10.99" selected="selected">1 Case - $10.99</option><option value="1 Case a Week (x4)" googlecart-set-product-price="43.96">1 Case a Week (x4) - $43.96</option><option value="1 Case every 2 Weeks (x4)" googlecart-set-product-price="43.96">1 Case every 2 Weeks (x4) - $43.96</option><option value="1 Case a Week (x8)" googlecart-set-product-price="87.92">1 Case a Week (x8) - $87.92</option><option value="1 Case every 2 Weeks (x8)" googlecart-set-product-price="87.92">1 Case every 2 Weeks (x8) - $87.92</option></select><input type="hidden" class="product-price" value="10.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

</div>
</td>
<td id="rightcolumn">


<div id="drink3">
	<div class="itemtext"><%= image_tag("smartwater1liter.jpg", :height => 300) %></div>
	<div class="itemtext">Smart Water 12 Pack</div>
	<div class="itemtext">1L bottles </div>
	<div class="itemtext">$16.99</div>
	<div class="product"><input type="hidden" class="product-title" value="SmartWater 12 Pack"><input type="hidden" class="product-image" value="http://t0.gstatic.com/images?q=tbn:ANd9GcTsiPvE1hBLe3WsyO3uiOn-JqW2SNi7480fEOjWj_WiS2y6cbGK"><select class="product-attr-custom"><option value="1 Case" googlecart-set-product-price="16.99" selected="selected">1 Case - $16.99</option><option value="1 Case a Week (x4)" googlecart-set-product-price="67.96">1 Case a Week (x4) - $67.96</option><option value="1 Case every 2 Weeks (x4)" googlecart-set-product-price="67.96">1 Case every 2 Weeks (x4) - $67.96</option><option value="1 Case a Week (x8)" googlecart-set-product-price="135.92">1 Case a Week (x8) - $135.92</option><option value="1 Case every 2 Weeks (x8)" googlecart-set-product-price="135.92">1 Case every 2 Weeks (x8) - $135.92</option></select><input type="hidden" class="product-price" value="16.99">
		
		<div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

</div>
</td>
</tr>
</table>


</div>