<h2>Your Spinlister Cart</h2>


<div id="checkoutinfo" class="round">
	Cart Total: <%= number_to_currency(@cart.total_price) %> </br>
	<%= button_to 'Checkout', new_order_path, :class => "checkoutbutton", :method => :get %> </br>
	<%= link_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure?', :id => "emptycart" %>
</div>


<ul>
	<% @cart.line_items.each do |f| %>
	<div id="showcartpadding">
		<li id="showcartitem" class="round">
			<div id="cartitemtitle">
			<strong><%= f.bike.name unless f.bike.blank? || f.bike.name.blank? %></strong></br>
			<%= number_to_currency(f.bike.price, :unit => "$") %> per day</br>
			<%= f.bike.neighborhood %>
			
			</div>
			<div id="cartpic">
		    <%= image_tag f.bike.photo(:thumb) %>  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?zoom=14&size=100x100&sensor=false&markers=#{f.bike.latitude}%2C#{f.bike.longitude}" %>
			</div>
		</li>
	</div>
	<% end %>
	
</ul>

<strong class="continueshopping"><%= link_to 'Continue Shopping', bikes_path %></strong>


