<h2>Your Spinlister Cart</h2>

<div id="checkoutinfo" class="round">
		Dates You Want to Ride
		<%= form_for @cart do |f| %>
		  From <%= f.text_field :startdate, :value => (@cart.startdate.strftime('%m/%d/%Y') unless @cart.startdate.nil?), :id => "startdate" %> </br>
		  To <%= f.text_field :enddate, :value => (@cart.enddate.strftime('%m/%d/%Y') unless @cart.enddate.nil?), :id => "enddate" %>
		  <%= f.submit "Set Dates" %>
		<% end %></br>
		
		Rental Dates: </br>
		From <%= @cart.startdate.strftime('%B %e, %Y') unless @cart.startdate.nil? %> </br>
		To <%= @cart.enddate.strftime('%B %e, %Y') unless @cart.enddate.nil? %> </br>
		</br>
	
	Cart Total: <%= number_to_currency(@cart.total_price*((@cart.enddate.to_date - @cart.startdate.to_date).to_i)) unless @cart.enddate.nil? %> </br>
	<%= button_to 'Checkout', new_order_path, :class => "checkoutbutton", :method => :get %> </br>
	<%= link_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure?', :id => "emptycart" %>
</div>


<ol>
	<% @cart.line_items.each do |f| %>
	<div id="showcartpadding">
		
		<div id="showcartitem" class="round">
			<li id="liststyle">
			<div id="cartitemtitle">
			<strong><%= f.bike.name unless f.bike.blank? || f.bike.name.blank? %></strong></br>
			<%= number_to_currency(f.bike.price, :unit => "$") %> per day</br>
			<%= f.bike.neighborhood %></br>
			<%= button_to 'Remove Bike', f, :method => :delete, :confirm => 'Remove this bike?' %>
			
			</div>
			<div id="cartpic">
		    <%= image_tag f.bike.photo(:thumb) %>  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?zoom=15&size=100x100&sensor=false&markers=#{f.bike.latitude}%2C#{f.bike.longitude}" %>
			</div>
			</li>
		</div>
		
	</div>
	<% end %>
	
</ol>


<strong class="continueshopping"><%= link_to 'Continue Shopping', bikes_path %></strong>

