<div>
<% form_tag bikes_path, :method => 'get' do %>
	<strong>Filter Results by:   </strong>
	<%= select_tag :sort, options_for_select(Bike::BIKETYPES), :include_blank => "All Bike Types", :class => "biketypedropdown"%>
	<%= submit_tag "Filter", :class => "biketypefilter"  %>  
<% end %>
</div>

<%= will_paginate @bikes %>


<% @bikes.each do |bike| %>
  <div id="indexborder" class="round">
	     <li id="indexitem" class="round">
			<strong id="indexinfo" class="round">
			    <%= link_to bike.name, bike %></br>
				<%= link_to image_tag(bike.photo.url(:bigsquare)), bike %> </br>
			    <%= number_to_currency(bike.price, :unit => "$") %> per day </br>
				<%= bike.neighborhood %>
			</strong> 
	     </li>
  </div>
<% end %> 



<%= will_paginate @bikes %>


<% form_tag bikes_path, :method => 'get' do  %>
<div id="indexbikes" class="round">
<p>
	<%= text_field_tag :search, params[:search], :size => 50, :class => 'hometextfield' %> 
	<%= submit_tag "Find Bikes by City", :name => nil, :class => "searchbutton"   %>  </br>
</p>
</div>
<% end %>

