<h1>List Your Bike</h1>

<% if signed_in? %>

<%= form_for(@bike, :html => {:multipart => true}) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<%= render 'shared/bike_fields', :f => f %>
<div class="actions">
   <%= f.submit "List Your Bike" %>
	(It's free)
</div>
<% end %>
	
<% else %>

<p>
	To list your bike you must be signed in.	
</p>

<%= link_to "Sign In", signin_path, :class => "signup_button round" %> 
<% end %>

