<%= link_to "Back to Search", bikes_path %>

<h1><%= @bike.name %></h1>

<%= image_tag @bike.photo.url %>

<div class="bikeinfo">
<strong>Owner:</strong>       <%= link_to @bike.user.name, @bike.user %> </br>
<strong>Size:</strong>        <%= @bike.size %> </br>
<strong>Description:</strong> <%= @bike.description %> </br>
<strong>Bike Type:</strong>   <%= @bike.biketype %> </br>
<strong>City:</strong>        <%= @bike.city %> </br>
<strong>Price:</strong>       $<%= @bike.price %> </br>
<%= @bike.latitude %>

<strong>
	<%=  link_to "Rent this sexy Bicycle!", rentit_path %>
</strong>

</div>


