<div>
<%= link_to_function "Back to Search", "history.back()"%>
</div>

<div id="everythingshow">
	<div id="showtable">
	<ul id="showlist">
		<div id="showitemoutside">
			<li id="showbikeitem" class="round">
						    <%= @bike.name %></br>
							<%= image_tag(@bike.photo.url(:large)) %> </br>
						    <%= number_to_currency(@bike.price, :unit => "$") %> per day </br>
							<%=  link_to "Rent this sexy Bicycle!", rentit_path, :id => "rentthisbike" %> </br>
			</li>
		</div>
					
		<div id="showitemoutside">
			<div id="showinfopadding">
				<li id="showinfoitem" class="round">
						<strong>Owner:</strong>       <%= link_to @bike.user.name, @bike.user %> </br>
						<strong>Height Range:</strong>  <%= @bike.size %> (+/- 3 inches) </br>
						<strong>Bike Type:</strong>   <%= @bike.biketype %> </br>
						<strong>Neighborhood:</strong> <%= @bike.neighborhood %> </br>
						<strong>Description:</strong> <%= @bike.description %> 
				</li>
			</div>
			<div id="showinfopadding">
				<li id="showmapitem" class="round">
							    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?zoom=14&size=300x300&sensor=false&markers=#{@bike.latitude}%2C#{@bike.longitude}" %>
				</li>
			</div>
			<div id="nearbybikeitem" class="round">
				Nearby Bikes </br>
			<% for bike in @bike.nearbys(10).limit(2) %>
			  <li id="nearbybikes"><%=  link_to image_tag(bike.photo(:thumb)), bike %> </br> (<%= bike.distance.to_f.round(2) %> miles)</li>
			<% end %>
			</div>
			
		</div>
	</ul>
	</div>
</div>









