<header>
	<%= image_tag("SpinlisterLogo.png", :alt => "Spinlister", :class => "round") %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", '#' %></li>
			<li><%= link_to "Sign Up", '#' %></li>
			<li><%= link_to "Sign In", '#' %></li>
			<li><%= link_to "List Your Bike", '#' %></li>
			<li><%= link_to "How It Works", '#' %></li>
		</ul>
	</nav>
</header>